{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Riget Zoo Adventures</title>
        <link rel="stylesheet" href="../static/styles/main_style.css">
        <link rel="stylesheet" href="../static/styles/contact-us_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Contact us</h1>
        <h3>Our email: office@rigetzooadventures.com</h3>
        <h3>Our telephone: 01392 786734</h3>
        <h3>Our address: Bicester OX25 1QG</h3>
        <div class="image-grid">
            <img class='image-1' src="../static/images/elephant.jpg">
            <br><br>
            <img class='image-2' src="../static/images/giraffe.jpg">
            <br><br>
            <img class='image-3' src="../static/images/zebra.jpg">
        </div>
    </body>
</html>
{% endblock %}