body h1{
    text-align: center;
    margin-top: 15vh;
    padding-bottom: 5vh;
}
body h3{
    text-align: center;
}
.image-grid{
    display: grid;
    grid: 1/3;
    padding-top: 10vh;
    float: left;
    margin-top: -35vh;
    margin-left: 5vw;
}
.image-grid img{
    height: 20vh;
    width: auto;
    border: 5px white solid;
}