body{
    text-align: center;
}
body h1{
    padding-top: 15vh;
    text-align: left;
    padding-left: 25vw;
}
.image-grid{
    grid: 1/3;
    padding-top: 10vh;
}
.image-grid img{
    height: 25vh;
    width: auto;
    border: 5px white solid;
}

