body{
    text-align: center;
}
body h1{
    padding-top: 10vh;
}
body .basket-tickets{
    border: solid 5px whitesmoke;
    background-color: #00b2d3;
    width: 15vw;
    margin-top: -45vh;
    margin-left: 10vw;
}
body .basket-tickets h2{
    text-align:center;
}
body .basket-tickets h1{
    text-align:center;
}
body .basket-hotel{
    border: solid 5px whitesmoke;
    background-color: #00b2d3;
    width: 20vw;
    margin-top: -50vh;
    margin-left: 5vw;
}
body .basket-hotel h2{
    text-align:center;
}
body .basket-hotel h1{
    text-align:center;
}
body{
    text-align: center;
}
body h1{
    padding-top: 10vh;
}
body form{
    padding-top: 5vh;
    text-align: center;
}
body form input{
    height: 5vh;
    width: 20vw;
    font-family: "PT Serif", serif;
    background-color: #008011;
    color: whitesmoke;
    font-size: 20px;
    border: solid whitesmoke 5px;
    border-radius: 20px;
}
::placeholder{
    color: whitesmoke;
}
body form .submit{
    background-color: #873174;
}
body form label{
    font-size: 24px;
}
body form .form-section{
    margin-left: 55vw;
    margin-top: -38.5vh;
}
body form .form-submit{
    margin-top: -12.5vh;
}